{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# SCSS + Compass #}
    {% stylesheets
        'css/*.css'
        'css/*.scss'
        filter='scssphp,cssrewrite'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {# LESS #}
    {#% stylesheets
        'css/*.less'
        filter='lessphp'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %#}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    {% javascripts
        'js/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# CoffeScript #}
    {#% stylesheets
        'js/*.coffee'
        filter='coffeephp'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %#}
{% endblock %}

{% block body %}
    <h1><a href="{{ path('/') }}">Twig integrator kit</a></h1>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
